<!DOCTYPE html>
<html>
<head>
  <title>Todo list</title>
  <link rel="stylesheet" href="css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
  <div class="box">
    <h1>Todo list</h1>
  </div>

  <div class="box">
   <% for (let i = 0; i < ejes.length; i++) { %>
  <% let task = ejes[i]; %>
  <div class="todo-item">
    <form action="/toggle" method="POST" style="display: flex; align-items: center;">
      <input type="hidden" name="index" value="<%= i %>">
      <input type="checkbox" class="task-checkbox" onclick="this.form.submit()" <%= task.done ? 'checked' : '' %>>
      <span style="text-decoration: <%= task.done ? 'line-through' : 'none' %>; opacity: <%= task.done ? '0.6' : '1' %>;">
        <%= task.text %>
      </span>
    </form>
  </div>
<% } %>


    <form action="/" method="POST">
      <input type="text" name="ele1" placeholder="Enter the task">
      <button type="submit">+</button>
    </form>
  </div>

  <script>
    const form = document.querySelector("form[action='/']");
    const input = document.querySelector("input[name='ele1']");

    form.addEventListener("submit", function (e) {
      if (input.value.trim() === "") {
        e.preventDefault();
        alert("Please enter a task before adding.");
      }
    });
  </script>
</body>
</html>
